<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Oskar Sawicki</title>
  <link rel="stylesheet" href="/css/intro-style.css">
</head>
<body>
<div id="mainContainer" class="container">
  <!-- Video panel -->
  <div id="videoContainer" class="intro-video-container">
    <!-- Added name text in top left corner -->
    <div id="nameText" class="name-text">
      OSKAR<br>SAWICKI
    </div>
    <!-- Vimeo iframe replacement -->
    <div class="vimeo-wrapper">
      <iframe id="vimeoPlayer" src="https://player.vimeo.com/video/916144478?background=1&autoplay=1&loop=0&byline=0&title=0&muted=1" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <button id="playButton" class="play-button"></button>
  </div>

  <!-- Second panel with text -->
  <div id="transitionPanel" class="transition-panel">
    <div id="creatorText" class="creator-text">
      "If a million people see my movie, I hope they see a million different movies."
    </div>
  </div>
</div>

<script src="/js/intro-script.js"></script>
</body>
</html>